{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block breadcrumb %}
    {% include '@SonataExt/breadcrumbs.html.twig' with {items: [
        {url: path('sonata_admin_dashboard'), label: 'action.dashboard.title'|trans}
    ]} only %}
{% endblock %}

{% block sonata_admin_content %}
    {{ parent() }}

    <div id="sonata-ext-dashboard" class="row">
        {{ renderer.render(dashboard)|raw }}
    </div>
{% endblock %}