{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block breadcrumb %}
    <ol class="nav navbar-top-links breadcrumb">
        <li>
            <a href="/admin/dashboard">
                <i class="fa fa-home"></i>                                                                    </a>
        </li>
        <li class="active"><span>Dashboard</span></li>
    </ol>
{% endblock %}

{% block sonata_admin_content %}
    <div id="sonata-ext-dashboard" class="row">
        {{ renderer.render(dashboard)|raw }}
    </div>
{% endblock %}