{% set mapColors = {
    (constant('\\Monolog\\Logger::DEBUG')): 'default',
    (constant('\\Monolog\\Logger::INFO')): 'primary',
    (constant('\\Monolog\\Logger::NOTICE')): 'primary',
    (constant('\\Monolog\\Logger::WARNING')): 'warning',
    (constant('\\Monolog\\Logger::ERROR')): 'danger',
    (constant('\\Monolog\\Logger::CRITICAL')): 'danger',
    (constant('\\Monolog\\Logger::ALERT')): 'danger',
    (constant('\\Monolog\\Logger::EMERGENCY')): 'danger',
} %}

{% set mapNames = {
    (constant('\\Monolog\\Logger::DEBUG')): 'debug',
    (constant('\\Monolog\\Logger::INFO')): 'info',
    (constant('\\Monolog\\Logger::NOTICE')): 'notice',
    (constant('\\Monolog\\Logger::WARNING')): 'warning',
    (constant('\\Monolog\\Logger::ERROR')): 'error',
    (constant('\\Monolog\\Logger::CRITICAL')): 'critical',
    (constant('\\Monolog\\Logger::ALERT')): 'alert',
    (constant('\\Monolog\\Logger::EMERGENCY')): 'emergency',
} %}

<span class="label label-{{ mapColors[level] }}">{{ mapNames[level] }}</span>