{% set mapColors = {
    (constant('\\MKebza\\SonataExt\\Enum\\LogLevel::DEBUG')): 'default',
    (constant('\\MKebza\\SonataExt\\Enum\\LogLevel::INFO')): 'primary',
    (constant('\\MKebza\\SonataExt\\Enum\\LogLevel::NOTICE')): 'primary',
    (constant('\\MKebza\\SonataExt\\Enum\\LogLevel::WARNING')): 'warning',
    (constant('\\MKebza\\SonataExt\\Enum\\LogLevel::ERROR')): 'danger',
    (constant('\\MKebza\\SonataExt\\Enum\\LogLevel::CRITICAL')): 'danger',
    (constant('\\MKebza\\SonataExt\\Enum\\LogLevel::ALERT')): 'danger',
    (constant('\\MKebza\\SonataExt\\Enum\\LogLevel::EMERGENCY')): 'danger',
} %}

<span class="label label-{{ mapColors[level.value] }}">{{ level|trans([], 'admin') }}</span>