{% if object.user is not null and is_granted('ROLE_ADMIN_USER_EDIT', object.user) %}
    <a href="{{ path('admin_user_edit', {id: object.user.id}) }}">
        {{ object.name|default('-') }}
    </a>
{% else %}
    {{ object.name|default('-') }}
{% endif %}