{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {{ object.user }}
    {% if object.userObject is not null and admin.userDetailRouteName is not null %}
        <a href="{{ path(admin.userDetailRouteName, {id: object.userObject.id}) }}">
            <i class="fa fa-share-square-o"></i>
        </a>
    {% endif %}
{% endblock %}