{% extends "@SonataAdmin/standard_layout.html.twig" %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}
{% block sonata_header %}{% endblock %}
{% trans_default_domain 'admin' %}

{% block sonata_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('admin_login') }}">
                {% if config.logo.admin is empty %}
                    <span>{{ config.app.name }}</span>
                {% else %}
                    <img src="{{ asset(config.logo.admin) }}" alt="{{ config.app.name }}"/>
                {% endif %}
            </a>
        </div>

        {% block layout_open %}
            <div class="login-box-body">
                {% include '@SonataCore/FlashMessage/render.html.twig' %}

                {% block content_public %}{% endblock content_public %}
            </div>
        {% endblock %}
    </div>
{% endblock sonata_wrapper %}