{% trans_default_domain translation_domain|default('backend') %}

{% block table %}
    {% if rows is empty %}
        <div class="empty">
            No data
        </div>
    {% else %}
        <table class="table {% block table_class %}table-border table-striped{% endblock %}">
            {% block header %}
                {% if header is defined %}
                    <tr>
                        {% for name in header %}
                            <th>{{ name|trans }}</th>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endblock %}
            {% for row in rows %}
                {% block row_outer %}
                    <tr class="{% block row_class %}{% endblock %}">
                        {% block row %}
                            <td>Row content, should be replaced</td>
                        {% endblock %}
                    </tr>
                {% endblock %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}