/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');*/

body {
    /*font-family: "Open Sans";*/
    font-size: 14px;
}

img {
    max-width: 100%;
}

a.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.strong {
    font-weight: bold !important;
}

div.mosaic-inner-box {
    height: 180px;
}

.sonata-collection-row-without-label.col-sm-offset-3 {
    margin-left: 6.33%;
}

.content-wrapper, .right-side {
    background-color: #fafafa;
}

.content-header {
    padding: 0;
}

.content-header > .navbar-default {
    background: #eee;
}

.content-header, .content-header a {
    color: #333 !important;
}

.content-header a:hover {
    color: #000 !important;
}

.sonata-ba-form-actions {
    text-align: right !important;
}

.sonata-ba-form-actions.well {
    padding: 0;
    padding-bottom: 20px;
    border: none;
    background: transparent;
    box-shadow: none;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
}

.sidebar-mini .logo .name-short {
    display: none;
}

.sidebar-mini.sidebar-collapse .logo .name-short {
    display: inline;
}

.sidebar-mini.sidebar-collapse .created-by {
    display: none;
}

.content-header .navbar {
    /*position: fixed !important;*/
    /*top: auto;*/
    width: 100%;
    z-index: 5;
    border-radius: 0;
}

.dropdown-add {
    min-width: auto;
}
.dropdown-add .dropdown-header {
    color: #333;
    font-weight: bold;
}


.box-title .fa {
    margin-right: 5px;
}

.main-sidebar, .left-side {
    transition: transform .2s ease-in-out,width .2s ease-in-out;
}

.breadcrumb > .active {
    color: #333;
}


/* Logo handling */
.logo img {
    display: inline;
    max-height: 95%;
    max-width: 95%;
}

.sidebar-expanded-on-hover .main-header .logo span {
    display: none;
}

.sidebar-collapse .main-header .logo img {
    display: none;
}
.sidebar-collapse .main-header .logo span {
    display: inline;
}


/* Datagrid */
table.table td {
    vertical-align: middle !important;
}

table.table td .btn-group {
    white-space: nowrap;
}

table.sonata-ba-list td {
    overflow: inherit !important;
}
.sonata-ba-list-field-header-batch {
    width: 39px;
}

.table > tbody > tr > td.sonata-ba-list-actions {
    padding-top: 0;
    padding-bottom: 0;
}

/* Data range filters, hide labels and fix width */
.sonata-filter-form .col-sm-4 > div > div > label {
    display: none;
}
.sonata-filter-form .col-sm-4 > div > div > div {
    width: 100%;
}

/* Form goodies */
.form-control[readonly] {
    border: none;
    background: none;
}

.ui-tooltip {
    font-size: 11px;
    background: #333;
    color: #eee;
}

/* Login page override */
body.login-page {
    background: white;
}

body.login-page .login-box-body {
    background: #fafafa;
    border: 1px solid #eaeaea;
}

.login-logo img {
    max-width: 100%;
}